<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CO2 Emission Prediction</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <style>
        /* Your existing styles... */

        /* Additional styles for the form... */
        .form-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            margin-top: 20px;
        }

        .form-container h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
            color: #631878;
        }

        .form-label {
            display: inline-block;
            /* Display them inline */
            font-size: 14px;
            color: #631878;
            width: 500px;
            /* Adjust the width to your desired size */

        }

        .form-input {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .form-input:focus {
            outline: none;
            border-color: #9550f3;
        }

        .form-button {
            background-color: #631878;
            color: #ffffff;
            font-size: 18px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-button:hover {
            background-color: #5436DA;
        }

        .navbar .title {
            text-align: center;
            flex-grow: 1;
            padding-right: 270px;
            margin-right: 80px;
            text-align: center;
        }


        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            color: #631878;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            border-radius: 5x;
        }

        .navbar .navbar-text {
            text-align: right;
        }

        .navbar a {
            color: #631878;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
</head>

<body>
    <div class="navbar" style="background-color: #D2B4DE;"> 
        <img src="/static/stldigital.webp" alt="" width="100" height="40" class="d-inline-block align-text-top">  

        <h5 style="text-align: center; color: #631878; padding-right: 450px; margin-right: 80px;">WHAT-IF-ANALYSIS</h5>  
      
    </div>   

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-start" style="margin: 1%; background-color: #D2B4DE; border-radius: 15px">
                
                <h2 style="color:#631878">CO2 Emission Prediction</h2>
                
                <form id="form" action="/predict_by_commodity" method="post" class="container">
                    <div class="form-group row">
                        <label for="commodity_name" class="col-md-4 col-form-label">Commodity Name:</label>
                        <div class="col-md-8">
                            <select id="commodity_name" class="form-control" name="commodity_name"
                                onchange="get_commodity_value()">
                                <option value="" selected disabled hidden></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supplier_name" class="col-md-4 col-form-label">Supplier Name:</label>
                        <div class="col-md-8">
                            <div class="form-input" id="supplier_name_dropdown" style="display: none;">
                                <div class="custom-dropdown">
                                    <div class="dropdown-content" id="supplier-dropdown-content">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="selected_suppliers" id="selected_suppliers">
                    <div class="form-group row">
                        <label for="valid_supplychain" class="col-md-4 col-form-label">Supply Chain Emission
                            Factors:</label>
                        <div class="col-md-8">
                            <input id="valid_supplychain" type="number" class="form-control"
                                name="Supply_Chain_Emission_Factors" min="0" max="1" step="0.001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="valid_quantity" class="col-md-4 col-form-label">Quantity:</label>
                        <div class="col-md-8">
                            <input id="valid_quantity" type="number" name="quantity" min="1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mode_of_transport" class="col-md-4 col-form-label">Mode of Transport:</label>
                        <div class="col-md-8">
                            <select id="mode_of_transport" class="form-control" name="mode_of_transport"
                                onchange="get_transport_value()">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fuel_type" class="col-md-4 col-form-label">Fuel Type:</label>
                        <div class="col-md-8">
                            <select id="fuel_type" class="form-control" name="fuel_type">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="valid_distance" class="col-md-4 col-form-label">Distance (km):</label>
                        <div class="col-md-8">
                            <input id="valid_distance" type="number" class="form-control" name="distance_km" min="1"
                                max="100000" step="0.001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn" style="background-color: #7D3C98; color:white;" id="submit_button"
                                onclick="initdata()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="table_data" class="col-md-5 align-self-start" style="display: none;">
                <h3 style="color: #631878;text-align: center;">Summary of the Existing Data</h3>
                <div id="summary">
                </div>
                <div>
                    <table class="table table-striped">
                        <thead style="margin: 1%; color: white; background-color: #631878; border-radius: 15px">
                            <th>Supplier Name </th>
                            <th>Total Quantity </th>
                            <th>Total Distance </th>
                            <th>Total Emission </th>
                        </thead>
                        <tbody id="summary_table">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div id="table_alldata" style="display: none;">
                    <h3 style="color:#631878; text-align: center;">Existing Data</h3>
                    <p id="alldata">
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- script -->
    <script>

        const Commodity_maping = {
            'Battery': ['EMERSON AUTOMATION SOLUTIONS AS', 'TECHNIP FRANCE SAS', 'GENERAL INDUSTRY SYSTEMS AS', 'BLUEWATER ENERGY SERVICES B.V.'],
            'Water Pump': ['SOLIDENERGY AS', 'EUREKA PUMPS AS', 'KAEFER ENERGY AS', 'IKM TESTING AS', 'NUOVO PIGNONE INTERNATIONAL S.R.L.', 'NDT NORDIC AS'],
            'PIPE, FITTINGS & SPOOLS': ['MMSA', 'ONNINEN AS', 'NUOVO PIGNONE INTERNATIONAL S.R.L.'],
            'Main turbine generator': ['NUOVO PIGNONE INTERNATIONAL S.R.L.', 'CONSTRUCTION ET PROCEDES', 'TECHNIP FRANCE SAS'],
            'Conveyor belts': ['SOLIDENERGY AS']
        }

        const commodities = ['Water Pump', 'Main turbine generator', 'Battery', 'Conveyor belts', 'PIPE, FITTINGS & SPOOLS']
        const commodityDropdown = document.getElementById('commodity_name');

        commodities.forEach(commodity => {
            const option = document.createElement('option');
            option.textContent = commodity;
            commodityDropdown.appendChild(option);

        });

        function get_commodity_value() {
            document.getElementById('table_data').style = 'display:block; background-color: #D2B4DE; border-radius: 15px; margin: 1%; ';
            document.getElementById('table_alldata').style = 'display:block; padding:15px; background-color: #D2B4DE; border-radius: 15px; margin: 1%;';
            const selected_commodity = commodityDropdown.value;
            set_supplier_by_commodity(selected_commodity)
            set_transport_by_commodity(selected_commodity)

            fetch('/get_data_commodity/' + selected_commodity)
                .then(response => response.json())
                .then(result => {

                    const uniqueSupplierNames = [...new Set(result.data.map(row => row[result.columns.indexOf("Supplier_Name")]))];

                    const split_data_dict = {};
                    t_emi = 0;
                    t_qa = 0;
                    t_dis = 0;
                    uniqueSupplierNames.forEach(suppliername => {

                        split_data_dict[suppliername] = [];
                        var sum_emi_7 = 0;
                        var sum_qa_3 = 0;
                        var sum_dis_6 = 0;
                        result.data.forEach(row => {
                            if (row[0] == suppliername) {
                                split_data_dict[suppliername].push(row);
                                sum_emi_7 += row[7];
                                sum_dis_6 += row[6];
                                sum_qa_3 += row[3];
                                t_emi += row[7];
                                t_dis += row[6];
                                t_qa += row[3];
                            }
                        })
                        let total_data = `                                      
                                        <tr>
                                            <td scope="row"><small>${suppliername}</small></td>                                                
                                            <td> ${sum_qa_3}</td>                                                
                                            <td> ${sum_dis_6}</td>
                                            <td> ${sum_emi_7}</td>
                                        </tr>                                        
                                        `;
                        const j_d = generateHTMLTable(split_data_dict[suppliername], result.columns)
                        document.getElementById('alldata').innerHTML += '<br>' + j_d;
                        document.getElementById('summary_table').innerHTML += total_data;

                    })
                    let final_data = `
                                    <table class="table table-striped">
                                        <thead style="margin: 1%; color: white; background-color: #631878; border-radius: 15px">
                                                            
                                            <th>Commodity Name</th>
                                            <th>Total Quantity </th>
                                            <th>Total Distance </th>                                
                                            <th>Total Emission </th>
                                            
                                        </thead>
                                        <tr>
                                            <td scope="row">${selected_commodity}</td>                                           
                                            <td> ${t_qa}</td>                                            
                                            <td> ${t_dis}</td>
                                            <td> ${t_emi}</td>
                                        </tr>
                                    </table>
                                    `;

                    document.getElementById('summary').innerHTML += final_data;
                    localStorage.setItem('total_final_data', final_data);

                })
            // Function to generate an HTML table from the data and column names
            function generateHTMLTable(data, columns) {
                let html = '<div class="table-responsive"><table class="table table-striped"><thead style="margin: 1%; color: white; background-color: #631878; border-radius: 15px"><tr>';

                // Create table header
                columns.forEach(column => {
                    html += `<th>${column}</th>`;
                });

                html += '</tr></thead><tbody>';

                // Populate table body
                data.forEach(row => {
                    html += '<tr>';
                    row.forEach(cell => {
                        html += `<td>${cell}</td>`;
                    });
                    html += '</tr>';
                });

                html += '</tbody></table>';
                return html;
            }
        };

        function set_supplier_by_commodity(selected_value) {
            const supplierDropdown = document.getElementById('supplier_name_dropdown');
            supplierDropdown.style.display = 'block';

            const supplierDropdownContent = document.getElementById('supplier-dropdown-content');
            supplierDropdownContent.innerHTML = '';

            const suppliers = Commodity_maping[selected_value];
            suppliers.forEach(supplier => {
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.name = 'supplier_name';
                checkbox.value = supplier;
                checkbox.id = supplier;
                const lable = document.createElement('label');
                lable.textContent = supplier;
                lable.setAttribute("for", supplier);
                lable.setAttribute("class", "form-check-label");


                supplierDropdownContent.appendChild(checkbox);
                supplierDropdownContent.appendChild(lable);
                supplierDropdownContent.appendChild(document.createElement('br'));
            });

        }
        var arr = [];
        function initdata() {
            $.each($("input[name='supplier_name']:checked"), function () {
                arr.push($(this).val());
            });
            document.getElementById('selected_suppliers').value = arr.join("/");

        }

        const transport_mapping = {
            'Battery': ['Air', 'Road', 'Water'],
            'Water Pump': ['Air', 'Road', 'Water'],
            'PIPE, FITTINGS & SPOOLS': ['Road', 'Water'],
            'Main turbine generator': ['Air', 'Road', 'Water'],
            'Conveyor belts': ['Air', 'Water']

        }
        function set_transport_by_commodity(selected_value) {
            const transportDropdown = document.getElementById('mode_of_transport');
            const transports = transport_mapping[selected_value];
            transportDropdown.options.length = 0;
            transports.forEach(
                transport => {
                    const option = document.createElement('option');
                    option.textContent = transport;
                    transportDropdown.add(option);
                }
            )
            get_transport_value()

        };
        const fuel_maping = {
            'Air': ['Aviation Fuel', 'Jet fuel', 'Kerosene'],
            'Road': ['CNG', 'Diesel', 'Electric', 'Petrol'],
            'Water': ['Diesel', 'LNG', 'Residual Fuel Oil']
        }

        function get_transport_value() {
            const selected_transport = document.getElementById('mode_of_transport').value;
            set_fuel_by_transport(selected_transport);

        };

        function set_fuel_by_transport(selected_value) {
            const fuelDropdown = document.getElementById('fuel_type');
            const fuels = fuel_maping[selected_value];

            fuelDropdown.options.length = 0;
            fuels.forEach(
                fuel => {
                    const option = document.createElement('option');
                    option.textContent = fuel;
                    fuelDropdown.add(option);
                }
            )
        }

    </script>

</body>

</html>